<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="timeoutHessionProxyFactory" class="com.caucho.hessian.client.HessianProxyFactory">
		<property name="connectTimeout" value="9999999999"/>
		<property name="readTimeout" value="9999999999"/>
	</bean>
	<!--<bean id="companyInfoFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">-->
		<!--<property name="serviceUrl" value="http://182.92.65.67:9099/billing-server/hessian/companyInfoFacade"/>-->
		<!--&lt;!&ndash;<property name="serviceUrl" value="http://localhost:8080/billing-server/hessian/companyInfoFacade"/>&ndash;&gt;-->
		<!--<property name="serviceInterface" value="qufenqi.pay.billing.api.facade.CompanyInfoFacade"/>-->
		<!--<property name="proxyFactory" ref="timeoutHessionProxyFactory"/>-->
	<!--</bean>-->

	<!--<bean id="shareProfitFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">-->
		<!--<property name="serviceUrl" value="http://182.92.65.67:9099/billing-server/hessian/shareProfitFacade"/>-->
		<!--&lt;!&ndash;<property name="serviceUrl" value="http://localhost:8080/billing-server/hessian/shareProfitFacade"/>&ndash;&gt;-->
		<!--<property name="serviceInterface" value="qufenqi.pay.billing.api.facade.ShareProfitFacade"/>-->
		<!--<property name="proxyFactory" ref="timeoutHessionProxyFactory"/>-->
	<!--</bean>-->
</beans>